extends layout

block content
  div.row
    div.col-md-6.col-md-offset-3
      form(method='post', class="form", accept-charset="utf-8")
        div.form-group
          label(for='name') Name
          input(type='text', name='name', id='name', class="form-control")
        div.form-group
          label(for='description') Description
          input(type='text', name='description', id='description', class="form-control")
        div.form-group
          label(for='cover') Cover
          input(type='text', name='cover', id="cover", class="form-control")
        div.form-group
          label(for='photos') Photos
          input(type='text', name='photos', id='photos', class="form-control")
        input(type='submit', class='btn btn-primary', value='Confirm') 
